<% provide(:title, "ヘルプ") %>
<h1>ほいくQ&amp;A ヘルプ</h1>

<h2>質問を投稿する</h2>
<p>ページ上部の「質問を作成」をクリックすると、新しい質問を作成するフォーム画面が開きます。</p>
<!-- 画像予定地 -->
<p>質問の内容を記入して、「投稿」ボタンを押すと新しい質問が投稿されます。</p>
<!-- 画像予定地 -->
<h3>注意 : 質問を作成する前に</h3>
<p>質問をする前に、以下の方法を15分だけ試してみましょう。</p>
<p>他の利用者が質問へ回答してくれるのを待たずに、すぐに解決策が見えてくるかもしれません。</p>
<ul>
  <li><a href="https://www.google.com" target="_blank">Google</a>などの検索サイトで、解決策を探してみる。</li>
  <li>本サイトの質問で、すでに同じような質問がされていないか調べてみる。</li>
</ul>
<h3>注意 : 質問に向かない内容</h3>
<p>以下に該当する質問は、当サイト運営の判断により予告なく削除する場合があります。</p>
<ul>
  <li>暴行や窃盗など、犯罪をほのめかす表現</li>
  <li>特定個人や団体に対する誹謗・中傷</li>
  <li>他のユーザーに対する脅迫または極度の侮辱表現</li>
</ul>
<p>また、「ほいくQ&amp;A」は保育現場における課題解決を目的としたサービスです。</p>
<p>以下の内容は本サービスの目的とシステムの都合上、本サービスで質問するには向いておりません。</p>
<p>本サイトで質問するより、仕事の外で友達に打ち明けたほうが良いかもしれません。</p>
<ul>
  <li>保育現場の外での活動に対する、協力の呼びかけなど</li>
  <li>保育現場の外での問題についての質問 (個人的な金銭問題や疾病などについての相談)</li>
  <li>その他、純粋に共感だけを求める質問 (とにかく気持ちを分かってほしい場合など)</li>
</ul>
<h2>質問に回答する</h2>
<h2>質問への回答に返信する</h2>
<h2>質問を解決済み状態にする</h2>

