<% provide(:title, "ヘルプ") %>
<h1>ほいくQ&amp;A ヘルプ</h1>

<h2>ヘルプ目次</h2>
<div class="document-index">
  <ul>
    <li><a href="#post-question">質問を投稿する</a></li>
    <li><a href="#post-answer">質問に回答する</a></li>
    <li><a href="#reply-to-answer">回答に返信する</a></li>
    <li><a href="#edit-question">質問の修正、解決済み設定</a></li>
    <li><a href="#prohibited-acts">禁止事項</a></li>
  </ul>
</div>

<a name="post-question"></a>
<h2>質問を投稿する</h2>
<p>ページ上部の「質問を作成」をクリックすると、新しい質問を作成するフォーム画面が開きます。</p>
<%= image_tag "new-question.png", class: "img-content", alt: "質問を作成" %>
<p>質問の内容を記入して、「投稿」ボタンを押すと新しい質問が投稿されます。</p>
<%= image_tag "post-question.png", class: "img-content", alt:"質問を投稿" %>

<h3>注意 : 質問を作成する前に</h3>
<p>質問をする前に、以下の方法を15分だけ試してみましょう。</p>
<p>他の利用者が質問へ回答してくれるのを待たずに、すぐに解決策が見えてくるかもしれません。</p>
<ul>
  <li><a href="https://www.google.com" target="_blank">Google</a>などの検索サイトで、解決策を探してみる。</li>
  <li>本サイトの質問で、すでに同じような質問がされていないか調べてみる。</li>
</ul>

<h3>注意 : 質問に向かない内容</h3>
<p>まずは<a href="#prohibited-act">禁止事項</a>を必ずお読みください。</p>
<p>「ほいくQ&amp;A」は保育現場における課題解決を目的としたサービスです。</p>
<p>以下の内容は本サービスの目的とシステムの都合上、本サービスで質問するには向いておりません。</p>
<p>本サイトで質問するより、仕事の外で友達に打ち明けたほうが良いかもしれません。</p>
<ul>
  <li>研修などでの課題の解答を求める質問</li>
  <li>保育現場の外での活動に対する、協力の呼びかけなど</li>
  <li>保育現場の外での問題についての質問 (個人的な金銭問題や疾病などについての相談)</li>
  <li>その他、純粋に共感だけを求める質問 (とにかく気持ちを分かってほしい場合など)</li>
</ul>

<a name="post-answer"></a>
<h2>質問に回答する</h2>
<p>各質問の詳細ページの、質問の本文の下に「回答する」ボタンがあるときは質問に回答できます。</p>
<p>「回答する」ボタンが表示されない場合は、すでにその質問に対する回答が締め切られています。</p>

<a name="reply-to-answer"></a>
<h2>回答に返信する</h2>
<p>あなたの投稿した質問に回答がついたとき、回答に返信することができます。</p>
<p>回答へのお礼や、回答が質問の意図と食い違っていたときのフォローなどに使えます。</p>

<h3>回答するとき、回答に返信するときのお願い</h3>
<p>回答の内容は直接的な解決策だけではなく、解決につながるヒントでもかまいません。
  (あくまで一般論です。質問者の意図の方が優先です。)</p>
<p></p>
<p>質問した人、回答した人もあなたと同じように、意識と感情を持った人間です。
  他の人の人格を貶めるような表現は控えて下さい。</p>

<a name="edit-question"></a>
<h2>質問の修正、解決済み設定</h2>
<p>あなたの投稿した質問の詳細ページには、「質問を編集する」ボタンが表示されます。</p>
<p>「質問を編集する」ボタンをクリックすると「質問の編集」ページが開き、「更新」ボタンを押すと
  質問の編集ページでの変更内容が反映されます。</p>
<p>質問内容が解決したときには、「質問の状態設定」を「回答締め切り」に設定して
  質問への回答を打ち切ることができます。</p>

<a name="prohibited-acts"></a>
<h2>禁止事項</h2>
<p>以下に該当する質問は、当サイト運営の判断により予告なく削除する場合があります。</p>
<p>「ほいくQ&amp;A」では、他者に対する意図的な侮辱表現を明確に否定します。</p>
<ul>
  <li>暴行や窃盗など、犯罪をほのめかす表現</li>
  <li>特定の個人や集団に対する誹謗・中傷</li>
  <li>他のユーザーに対する脅迫または極度の侮辱表現</li>
</ul>
