<% provide(:title, "トップページ") %>
<div class="container container-contents-toppage">
  <div class="row">
    <h1>ほいくQ&amp;A</h1>
    <p>「ほいくQ&amp;Aは」、保育士の皆様が日ごろの業務の課題について質問できるQ&amp;Aサイトです。</p>
    <div class="col-md-offset-3 col-md-3">
    <%= link_to '新規登録', new_user_path, class: 'btn btn-block btn-black' %>
    </div>
    <div class="col-md-3">
      <%= link_to 'ログイン', login_path, class: 'btn btn-block btn-black' %>
    </div>
  </div>
</div>