<% provide(:title, "トップページ") %>
<h1>ほいくQ&amp;A</h1>
<h2>「ほいくQ&amp;Aは」、保育士の皆様が日ごろの業務の課題について質問できるQ&amp;Aサイトです。</h2>
<div class="col-md-offset-3 col-md-3">
  <%= link_to '新規登録', '#', class: 'btn btn-block btn-black' %>
</div>
<div class="col-md-3">
  <%= link_to 'ログイン', '#', class: 'btn btn-block btn-black' %>
</div>
