@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 80px;
}

h1 {
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 1.8em;
  line-height: 1;
  margin-bottom: 30px;
  color: #444;
  border-bottom: 1px solid #444;
}

h3 {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 30px;
  color: #444;
  border-bottom: 1px dashed #444;
}

li {
  margin-bottom: 8px;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
}

.img-content {
  border: 1px solid #777;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.copyright-notice {
  font-size: small;
  color: 777;
  display: inline-block;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: 'M PLUS Rounded 1c', 'Montserrat';
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.image-logo {
  position: inline-block;
  float: left;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  img {
    height: 40px;
  }
}

ul.nav {
  li {
    margin-bottom: 0px;
  }
}

/* content */

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    background-color: #E0E0E0;
  }
}

.form-group {
  margin-bottom: 40px;
}

textarea.form-control {
  height: 15em;
  line-height: 1.5em;
}

.row-question-item {
  margin-bottom: 40px;
}

.col-question-item {
  border: 1px solid #444444;
}

.show-question {
  padding: 40px;
  margin-bottom: 40px;
  border: 1px solid black;
}

.show-answer {
  padding: 40px;
  margin-bottom: 40px;
  border: 1px solid #444444;
}

.reply-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #444444;
}


/* footer */

footer {
  margin-bottom: 100px;
}

footer .container {
  margin-top: 20px;
  border-top: 2px solid black;
  padding-top: 10px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 20px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

