@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 40px;
}

h1 {
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 1.8em;
  line-height: 1;
  margin-bottom: 30px;
  color: #444;
  border-bottom: 1px solid #444;
}

h3 {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 30px;
  color: #444;
  border-bottom: 1px dashed #444;
}

li {
  margin-bottom: 8px;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
}

.img-content {
  border: 1px solid #777;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.copyright-notice {
  font-size: small;
  color: 777;
  display: inline-block;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: 'M PLUS Rounded 1c', 'Montserrat';
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.image-logo {
  position: inline-block;
  float: left;
  margin-top: 5px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.nav-search {
  margin-top: 8px;
  font-size: small;
  
  input, button {
    display:inline-block;
  }
}

.navbar-inverse {
  margin-bottom: 0px !important;
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
  }
  
  img {
    height: 40px;
  }
}

ul.nav {
  li {
    margin-bottom: 0px;
  }
}

/* content */

.container-overall-background {
  position: block;
  background-image: asset-url('forest-park.jpg');
  background-attachment: fixed;
  min-height: 720px;
  height: auto !important;
  height: 720px;
}

.container-contents-toppage {
  margin-top: 20px;
  min-height: 720px;
  height: auto !important;
  height: 720px;
}

.container-contents {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 238, 0.9);
  min-height: 720px;
  height: auto !important;
  height: 720px;
}


.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  background-color: rgba(255,255,255,0.5);

  &:hover {
    background-color: rgba(221, 221, 221, 0.5);
  }
}

.form-group {
  margin-bottom: 40px;
}

textarea.form-control {
  height: 15em;
  line-height: 1.5em;
}

.row-question-item {
  margin-bottom: 40px;
}

.col-question-item {
  border: 1px solid #444444;
  border-radius: 10px;
}

.show-question {
  padding: 20px;
  margin-bottom: 40px;
//  border: 1px solid black;
//  border-radius: 10px;
}

.show-answer {
  padding: 40px;
  margin-bottom: 40px;
  border: 1px solid #444444;
  border-radius: 10px;
}

.reply-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #444444;
  border-radius: 10px;
}


/* footer */

footer {
  margin-bottom: 100px;
}

footer .container {
  margin-top: 20px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 20px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}
