<footer>
  <div class="container">
    <nav>
      <div class="copyright-notice">Copyright 2019 Hoiku-Q&amp;A All rights reserved.</div>
      <ul>
        <li><%= link_to 'お問い合わせ', '#' %></li>
      </ul>
    </nav>
  </div>
</footer>