<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ほいくQ&A", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ログイン",   '#' %></li>
        <li><%= link_to "ヘルプ",   '/pages/help_index' %></li>
        <li><%= link_to "新規登録", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
